:root{
    --shadow-color: rgba(201, 213, 225, 50.34%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body{
    font-family: 'Manrope', sans-serif;
    background-color: #ECF2F8;
    min-height: 100vh;
}

.preview-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem 1.5rem 0 1.5rem;
    max-width: 100%;
    box-shadow: 0px 40px 40px -10px var(--shadow-color);
}

img {
    border-radius: 10px 10px 0 0;
}

.content{
    padding: 2rem;
    background-color: #FFFFFF;
    border-radius: 0 0 10px 10px;
}

h1{
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-bottom: 0.75rem;
    color: #48556A;
}

p{
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.25rem;
    color: #6E8098;
    margin-right: 1.25rem;
}

.author{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    margin: 1rem -1rem -0.85rem -1.5rem
}

.author h3, .author p{
    font-size: 0.75rem;
    margin-left: -2.5rem;
}

.author-img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100rem;
    margin-top: -0.25rem;
}

.share-svg{
    background-color: #ECF2F8;
    fill: #6E8098;
    border-color: transparent;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    z-index: 1;
    transition: all 0.3s ease;
}

.share-svg:hover, .share-svg:active{
    background-color: #6E8098;
}

.share-svg:hover #share-path, .share-svg:active #share-path{
    fill: #FFFFFF;
}


button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
}


.share{
    background-color: #48556A;
    display: flex;;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.375rem 10.25rem 1.75rem 10.25rem;
    width: 15rem;
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: 70%;
    left: 6%;
    display: none;
}

.share p{
    font-size: 0.8rem;
    letter-spacing: 5px;
    margin: auto 1rem auto 1rem;
}

.socials{
    display: flex;
    padding-right: 6.5rem;

}

.socials img{
    border-radius: 0;
 
}

.socials img:nth-of-type(2){
    margin: auto 1rem auto 1rem;
}

.pointer{
    width: 1.25rem;
    height: 1.25rem;
    background-color: #48556A;
    position: absolute;
    top: 80%;
    left: 46%;
    transform: rotate(45deg);
    display: none;
}





/* Media Queries - Desktop */

@media (min-width: 47rem){

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.preview-card{
    flex-direction: row;
    width: 45.6rem;
    height: 17.5rem;
}

img {
    border-radius: 10px 0 0 10px;
}

.content{
    display: flex;
    flex-direction: column;
    border-radius: 0 10px 10px 0;
}

h1{
    font-size: 1.125rem;
    line-height: 1.75rem;
}

p{
    font-size: 0.76rem;
    letter-spacing: 0.12px;
    font-weight: 300;
    line-height: 1.25rem;
    color: #6E8098;
    margin-right: 0rem;
}

.author{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    margin: 1.5rem 1rem auto 0rem;
}

.author h3, .author p{
    font-size: 0.75rem;
    margin-left: -5.75rem;
}

.share{
    padding: 1rem 1rem;
    width: 15rem;
    border-radius: 10px;
    top: 43.5%;
    left: 62.1%;
}

.socials{
    padding-right: 1rem;
}

.pointer{
    display: block;
}

}

